# Ignore LaTeX auxiliary (aux), output (output) and Tex/_Trash folders
aux/
output/
Tex/_Trash/
myenv/
__pycache__/
*.pyc
.DS_Store
.vscode/
.ipynb_checkpoints/
.env
.idea/
*.log
results/
models/
checkpoints/
temp/
machine_learning/unsupervised